:host
{
    
    /* color-scheme: light dark; */
    display: grid;
    color: var(--text-surface); 
    padding: var(--gap-small);
    /* font-family: var(--font-text); */
}

::slotted(code-tests)
{
    /* background-color: var(--surface-test); */
}


summary
{
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;
    gap: var(--gap-small);
    padding: var(--gap-small);
    align-items: center;
    user-select: none;
}
summary::before
{
    content: '';
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2020%2020'%20width%3D'14px'%20height%3D'14px'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20stroke-width%3D'0'%3E%3C%2Fg%3E%3Cg%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D'M8.72798%2015.795L3.72798%207.795C3.10356%206.79593%203.82183%205.5%204.99998%205.5L15%205.5C16.1781%205.5%2016.8964%206.79593%2016.272%207.795L11.272%2015.795C10.6845%2016.735%209.31549%2016.735%208.72798%2015.795Z'%20fill%3D'%23878a8b'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    transform: rotate(-90deg);
    transition: transform ease-out 200ms;
}
[open] > summary::before
{
    transform: rotate(0);
    /* background: var(--surface-test-summary); */
}

:host(.running) .run[data-all]
{
    color: var(--text-surface);
    background-color: oklch(89.68% 0.002 197.12);
    border-color: oklch(63.12% 0.004 219.55);
}
:host(.running) .run[data-all]:hover
{
    background-color: oklch(95.57% 0.003 286.35);
    border-color: oklch(63.12% 0.004 219.55);
}
:host(.running) .run[data-all]:active
{
    background-color: oklch(63.12% 0.004 219.55);
    border-color: oklch(53.12% 0.004 219.55);
}
:host(.running) .run[data-all]::before
{
    display: none;
}

.result-icon
{
    --background-size: 16px;
    --icon-size: 12px;

    width: var(--background-size);
    height: var(--background-size);

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px currentColor;
    border-radius: 50%;
}
.result-icon::before
{
    content: '⋯';
    font-size: 10px;
    --icon-size: 10px;
}
:host(.running) .result-icon
{
    border: var(--border-process);
    background: var(--surface-process);
}
:host(.success) .result-icon
{
    border: var(--border-success);
    background: var(--surface-success)
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path fill="%232e943a" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--icon-size) var(--icon-size);
}
:host(.fail) .result-icon
{
    border: var(--border-fail);
    background: var(--surface-fail)
    var(--info-icon);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(175deg);
}
:host(:is(.success,.fail)) .result-icon::before
{
    display: none;
}
:host(.running) .result-icon::before
{
    content: '';
    --animation-timing-function: linear;
    --animation-duration: 2s;
    width: var(--icon-size, 10px);
    height: var(--icon-size, 10px);
    mask-image: radial-gradient(circle at 50% 50%, transparent calc(var(--icon-size, 10px) / 3), black calc(var(--icon-size, 10px) / 3));
    background-image: conic-gradient(transparent, transparent 135deg, var(--color, oklch(43.48% 0.17 260.2)));
    border-radius: 50%;
    animation: var(--animation-timing-function) var(--animation-duration) infinite spin;
    margin: 2px;
}
@keyframes spin
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@media (prefers-color-scheme: dark) 
{
    :host(.running) .run[data-all]
    {
        background-color: oklch(35.02% 0.005 236.66);
        border-color: oklch(35.02% 0.005 236.66);
    }
    :host(.running) .run[data-all]:hover
    {
        background-color: oklch(63.12% 0.004 219.55);
        border-color:oklch(63.12% 0.004 219.55);
    }
    :host(.running) .run[data-all]:active
    {
        background-color: oklch(25.11% 0.006 258.36);
        border-color: oklch(25.11% 0.006 258.36);
    }
}

/* tooltip copied from https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:max-content;
  max-width: 300px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  opacity:0;
  transition:.3s opacity; 
  pointer-events: none;
}
.tooltip:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:100%;
  margin-left:-5px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
  
  opacity:0;
  transition:.3s; 
  pointer-events: none;
}
.tooltip:hover:before,.tooltip:hover:after{
  display:block;
  opacity:1;
}


.run
{
    width: auto;
    min-width: auto;
    max-width: auto;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 3px 7px;
    font-size: 11px;
    gap: var(--gap-small);
    background: var(--surface-button);
    border: solid 1px var(--surface-button);
    border-radius: 4px;
    text-shadow: 1px 1px rgb(0 0 0 / .2);
    color: var(--text-button);
}
.run:hover
{
    background: var(--surface-button-hover);
}
.run:active
{
    background: var(--surface-button-active);
}
.run::before
{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    background: 
    url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2020%2020'%20width%3D'16px'%20height%3D'16px'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20stroke-width%3D'0'%3E%3C%2Fg%3E%3Cg%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D'M8.72798%2015.795L3.72798%207.795C3.10356%206.79593%203.82183%205.5%204.99998%205.5L15%205.5C16.1781%205.5%2016.8964%206.79593%2016.272%207.795L11.272%2015.795C10.6845%2016.735%209.31549%2016.735%208.72798%2015.795Z'%20fill%3D'%23fdfdfd'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}